body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(24, 24, 24);
    background-image: url(../media/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    width: 700px;
    background-color: #0f0f0f;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.form-container {
    flex: 1;
    padding: 10px;
    margin-right: 100px;
}

.logo-container {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes desplazamiento {
    0% {
      transform: translateY(-3.5%);
    }
    100% {
      transform: translateY(3.5%);
    }
}

.logo-container img {
    max-width: 14%;
    height: auto;
    position: absolute;
    margin-right: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(128, 0, 128, 0.6);
    animation: desplazamiento 2s ease-in-out infinite alternate; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    color: #fff;
    font-family: 'Karla';
    width: 72%;
    position: relative;
    margin-bottom: 0;
}

.form-container form input{
    border-bottom: 2px solid #7500ac;
    color: white;
    margin-right: 4px;
}

.form-container form button{
    border-radius: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
button {
    width: 65%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    font-family: 'Karla';
    background-color: #0f0f0f;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid #7500ac;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #7500ac;
}

.inicio-sesion {
    background-color: #7500ac; 
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Karla';
    font-size: 15px;
    height: 50px;
}

.inicio-sesion:hover {
    background-color: #4B0082;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.flecha {
    position: relative;
    display: inline-block;
    margin-left: 5px; 
    width: 0;
    height: 0;
    border-left: 6px solid transparent; 
    border-right: 6px solid transparent;
    border-top: 6px solid #7500ac; 
    animation: desplazamiento 2s ease-in-out infinite alternate; 
}

.remember-me {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Karla';
    margin-bottom: 20px;
    margin-top: 25px;
    margin-right: 90px;
}

.remember-me input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid gray;
    background-color: #0f0f0f;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.remember-me input[type="checkbox"]:checked::before {
    content: '✔';
    display: block;
    width: 100%;
    height: 100%;
    color: #7500ac;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -2px;
    left: 0;
}

.form-container input{
    color: #000000;
    border: none;
    outline: none;
}